.appBody {
  display: flex;
}

.navbar {
  font-size: x-large;
  font-weight: bold;
}
/* Panel style */
.topLevelContainer {
  margin: 5px;
}
.panelHeader {
  font-size: x-large;
}

/* Data Panel */
.dataInputPanelContainer
{
    margin:10px;
}

/* Visualization */
#visOutput {
  max-height: 1000px;
  overflow: auto;
  border: 1px solid lightgrey;
}

#recInformationPanel {
  display: flex;
  max-height:150px;
  margin: 5px;
}
.recInformationTitleText {
  margin: auto;
}
.recInformationItemContainer {
  margin: auto;
  display: block;
  cursor: pointer;
  opacity: 0.2;
}
.recInformationItemContainer:hover{
    opacity: 1;
}
.imgView {
  width: 50%;
  margin-left:25%
}
.recTreeImgLabel
{
    text-align: center;
}
.selectedItem
{
    border: 1px solid lightgrey;
    opacity: 1;
}
