.appBody {
  display: flex;
}

.navbar {
  font-size: x-large;
  font-weight: bold;
}

.headerText{
    font-size: large;
    font-weight: bold;
}
.backgroundOp1
{
    background-color:ghostwhite ;
}
.backgroundOp2
{
    background-color:rgb(227, 227, 227) ;
}
.opacity{
    opacity:0.5;
}

/* Panel style */
.topLevelContainer {
  margin: 5px;
}
.panelHeader {
  font-size: x-large;
}

/* Data Panel */
.dataInputPanelContainer
{
    margin-top:30px;
    margin-left: 10px;
    margin-right: 10px;

}

#files
{
    width: 100%;
}

#uploadPanel
{
    cursor: pointer;
}


/* Visualization */
#visOutput {
  max-height: 1000px;
  overflow: auto;
  border: 1px solid lightgrey;
}

#recInformationPanel {
  display: flex;
  max-height:150px;
  margin: 10px;
}
.recInformationTitleText {
  margin: auto;
}
.recInformationItemContainer {
  margin: auto;
  display: block;
  cursor: pointer;
  opacity: 0.2;
}
.recInformationItemContainer:hover{
    opacity: 1;
}
.imgView {
  width: 50%;
  margin-left:25%
}
.recTreeImgLabel
{
    text-align: center;
}
.selectedItem
{
    border: 1px solid lightgrey;
    opacity: 1;
}
