.appBody {
  display: flex;
}

.navbar {
  font-size: x-large;
  font-weight: bold;
}

.headerText {
  font-size: large;
  font-weight: bold;
}
.backgroundOp1 {
  background-color: ghostwhite;
}
.backgroundOp2 {
  background-color: rgb(227, 227, 227);
}
.opacity {
  opacity: 0.5;
}
.additionalInformation{
    color:gray;
    text-align: left!important;
}

.selectedItem {
    border: 1px solid lightgrey!important;
    opacity: 1!important;
  }

/* Panel style */
.topLevelContainer {
  margin: 5px;
}
.panelHeader {
  font-size: x-large;
}

/* Data Panel */
.dataInputPanelContainer {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#files {
  width: 100%;
}

/* #uploadPanel
{
} */

/* Task Panel */
.taskPanelContainer {
  margin-top: 20px!important;
}
.taskIconElement {
    margin-top: 5%!important;
    opacity: 0.4;
    cursor: pointer;
}
.taskIconElement:hover{
    opacity: 1;
}
.taskImgView {
  height: 100px;
}
.taskImageContainer{
text-align: center!important;
}
.taskPanelLabel{
    text-align: justify;
}
.taskQueryIconElement{
    margin-top: 5%!important;
    opacity: 0.4;
    cursor: pointer;
}
.taskQueryIconElement:hover{
    opacity: 1;
}
/* Recommendation and Visualization */
#visOutput {
  max-height: 1000px;
  overflow: auto;
  border: 1px solid lightgrey;
}

#recInformationPanel {
  display: flex;
  max-height: 150px;
  margin: 10px;
}
.recInformationTitleText {
  margin: auto;
}
.recInformationItemContainer {
  margin: auto;
  display: block;
  cursor: pointer;
  opacity: 0.2;
}
.recInformationItemContainer:hover {
  opacity: 1;
}
.imgView {
  width: 50%;
  margin-left: 25%;
}
.recTreeImgLabel {
  text-align: center;
}

#visNavBar{
    height:50px;
    display:flex;
}
.visOutputNavContainer{
  border: 1px solid lightgrey!important;
}
.visNavBarItem
{
    margin-left: 2%;
}
.visSettingsPanel{
  height: 200px;
  display: none;
}
#fileName{
    margin-top: auto;
    margin-bottom: auto;
}
#searchInput{
}
#visSetting{
    margin-top: auto;
    margin-bottom: auto;
}
.settingsIcon:hover{
  opacity: 0.5;
}


/* Visualization */
.node{
    cursor: pointer;
}

/* Utility Css */
.underline {
  border-bottom: solid grey;
}